
      <footer class="footer">
        <div class="container-fluid">
          <nav>
<!--             <ul>
              <li>
                  The  <a href="http://www.lowell.edu" target="_blank">Lowell Observatory</a> Solar Telescope dashboard
              </li>
            </ul> -->
          </nav>
          <div class="copyright" id="copyright">
            &copy; <a href="http://www.joellama.com" target="_blank">Joe Llama</a>, 
            Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="https://appseed.us">AppSeed</a>
          </div>
        </div>
      </footer>

