
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <img src="/static/assets/img/lost-logo.png" />
      </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">
 

           <hr />
          <h5>Current Time</h5>
          <hr />
          <ul class='nav'>
            <li>
              <span><p id='utc'></p></span>
            </li>
            <li>
              <span><p id='local_time'></p></span>
            </li>
            <li>
              <span><p id='mjd'></p></span>
            </li>            
          </ul>
           
          <hr />
          <h5 id='utdate'>UTDATE</h5>
          <hr />
          <ul  class="nav">
            <li >
              <span>
                <i class="now-ui-icons  arrows-1_minimal-up" ></i>
                <p id='sun_up'>SUNUP</p>
              </span>
            </li>
           <li>
              <span>
                <i class="now-ui-icons loader_refresh"></i>
                <p id='meridian_flip'>MEDFLIP</p>
              </span>
            </li>
            <li>
              <span>
                <i class="now-ui-icons arrows-1_minimal-down"></i>
                <p id='sun_down'>SUNDOWN</p>
              </span>
            </li>
        </ul>
        <hr />
        <h5>Weather</h5>
        <hr />
        <div class="notification"> </div>
        <div class="weather-container">
            <div class="weather-icon" style="margin-left:auto; margin-right:auto; margin-top:-20px;, margin-bottom:0;width: 50%;padding: 0;" >
                <img src="icons/unknown.png" alt="">

            </div>
 <hr />
        </div>
 
 
        
      </div>
    </div>

