<!-- End Navbar -->
<div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart" ></canvas>
</div>

<div class="content">
    <div class="row">  
        <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">System</h5>
                    <h4 class="card-title">Telescope Status</h4>
 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Telescope</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr module='telescope_update_time_tr'>
                                <td class='module_name'>Updated</td>
                                <td class='module_status'><span id='telescope_update_time'></span></td>
                            </tr>
                            <tr module='telescope_velocity_tr'>
                                <td class='module_name'>Telescope Velocity</td>
                                <td class='module_status'><span id="telescope_velocity"></span></td>
                            </tr>                                                
                            <tr module='telescope_orientation_tr'>
                                <td class='module_name'>Telescope Orientation</td>
                                <td class='module_status'><span id="telescope_orientation"></span></td>
                            </tr>                                                                                   
                            <tr module='telescope_coords_tr'>
                                <td class='module_name'>Telescope RA/DEC</td>
                                <td class='module_status'><span id="telescope_coords"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Guider</th>
                            <th>&nbsp;</th>
                            <!-- <th>Status</th> -->
                        </thead>
                        <tbody>
                            <tr moule='guider_update_time_tr'>
                                <td class='module_name'>Updated</td>
                                <td class='module_status'><span id='guider_update_time'></span></td>
                            </tr>
                            <tr module='guider_mode_tr'>
                                <td class='module_name'>Guider Mode:</td>
                                <td class='module_status'><span id="guider_mode"></span></td>
                            </tr>                                                
                             <tr module='guider_coords_tr'>
                                <td class='module_name'>Sun center (actual, ref):</td>
                                <td class='module_status'><span id="guider_sun_location"></span></td>
                            </tr>
                            <tr module='guider_vis_tr'>
                                <td class='module_name'>Sun Visible:</td>
                                <td class='module_status'><span id="guider_sun_vis"></span></td>
                            </tr>                                                 
                            <tr module='guider_vis_tr'>
                                <td class='module_name'>Sun Intensity:</td>
                                <td class='module_status'><span id="guider_sun_intensity"></span></td>
                            </tr>                                                                             
                             <tr module='guider_correction_tr'>
                                <td class='module_name'>Guider correction (x,y):</td>
                                <td class='module_status'><span id="guider_x_correction"></span> <span id='guider_y_correction'></span></td>
                            </tr>                                                 
                        </tbody>
                    </table>
                </div>                
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Enclosure</h5>
                    <h4 class="card-title">Temperature and Humidity</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="min-height: 250px;">
                    <canvas id="environmentChart"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <h5>Webcams</h5>
                    <h5 class="card-category">Updated <span id='webcam_updated'></span></h5>
                    <img src='/static/assets/img/webcam_latest.jpg' alt='Latest Webcam Image' style="width:250px; height:auto; margin-left:15px; margin-right:auto;" id='webcamImage' />
                    <img class="image" id="webcam_mount" />
                </div>
            </div>
        </div>


    <!-- </div>
    <div class="row"> -->
        <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">LOST-1</h5>
                    <h4 class="card-title">EXPRES</h4>
                    <div class="dropdown">
                        <button type="button" id='expresPlayPause' class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" onclick="pausePlayExpres()"><i class="now-ui-icons media-1_button-pause" ></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" >
                        <table id='expres_status_list' class='table'>
                            <thead class="text-primary">
                            </thead>
                            <tbody>
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">LOST-2</h5>
                    <h4 class="card-title"> Calcium-K camera</h4>
                </div>
                <div class="card-body">
                    <img class='image' id='calciumImage' />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Debug</h5>
                    <h4 class="card-title">Console Output <span><button type='button' id='refreshLog' class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" onclick="refreshLog()"><i class="now-ui-icons arrows-1_minimal-down" ></i></button></span></h4>
                    <div class="dropdown">
                        <button type="button" id='hideLog' class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" onclick="showHideConsole()"><i class="now-ui-icons arrows-1_minimal-down" ></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <textarea id="logfile" style="width:100%;" class='hideConsole' rows="10">
                    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                    </textarea>
                </div>

        </div>
    </div>
</div>
