<!-- End Navbar -->
<div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart" ></canvas>
</div>

<div class="content">
    <div class="row">  
        <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">System</h5>
                    <h4 class="card-title">Telescope Status</h4>
 
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Telescope</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tbody>
                            <tr module='telescope_update_time_tr'>
                                <td class='module_name'>Updated</td>
                                <td class='module_status'><span id='telescope_update_time'></span></td>
                            </tr>
                            <tr module='telescope_velocity_tr'>
                                <td class='module_name'>Telescope Velocity</td>
                                <td class='module_status'><span id="telescope_velocity"></span></td>
                            </tr>                                                
                            <tr module='telescope_orientation_tr'>
                                <td class='module_name'>Telescope Orientation</td>
                                <td class='module_status'><span id="telescope_orientation"></span></td>
                            </tr>                                                                                   
                            <tr module='telescope_coords_tr'>
                                <td class='module_name'>Telescope RA/DEC</td>
                                <td class='module_status'><span id="telescope_coords"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Guider</th>
                            <th>&nbsp;</th>
                            <!-- <th>Status</th> -->
                        </thead>
                        <tbody>
                            <tr moule='guider_update_time_tr'>
                                <td class='module_name'>Updated</td>
                                <td class='module_status'><span id='guider_update_time'></span></td>
                            </tr>
                            <tr module='guider_mode_tr'>
                                <td class='module_name'>Guider Mode:</td>
                                <td class='module_status'><span id="guider_mode"></span></td>
                            </tr>                                                
                             <tr module='guider_coords_tr'>
                                <td class='module_name'>Sun center (actual, ref):</td>
                                <td class='module_status'><span id="guider_sun_location"></span></td>
                            </tr>
                            <tr module='guider_vis_tr'>
                                <td class='module_name'>Sun Visible:</td>
                                <td class='module_status'><span id="guider_sun_vis"></span></td>
                            </tr>                                                 
                            <tr module='guider_vis_tr'>
                                <td class='module_name'>Sun Intensity:</td>
                                <td class='module_status'><span id="guider_sun_intensity"></span></td>
                            </tr>                                                                             
                             <tr module='guider_correction_tr'>
                                <td class='module_name'>Guider correction (x,y):</td>
                                <td class='module_status'><span id="guider_x_correction"></span> <span id='guider_y_correction'></span></td>
                            </tr>                                                 
                        </tbody>
                    </table>
                </div>                
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Enclosure</h5>
                    <h4 class="card-title">Temperature and Humidity</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="min-height: 250px;">
                    <canvas id="environmentChart"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">LOST-1</h5>
                    <h4 class="card-title">EXPRES</h4>
                    <div class="dropdown">
                        <button type="button" id='expresTableToggle' class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" onclick="showHide()"><i class="now-ui-icons arrows-1_minimal-down"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" >
                        <table id='expres_status_list' class='table'>
                            <thead class="text-primary">
                                <th>Module</th>
                                <th>Status</th>
                                <th>Sub-Modules</th>
                            </thead>
                            <tbody>
                                <tr module="expres">
                                    <td class="module_name">EXPRES MGR</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="agitator" class='hide'>
                                    <td class="module_name">Agitator</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="clock" class='hide'>
                                    <td class="module_name">Clock</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="macros" class='hide'>
                                    <td class="module_name">Macros</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="logsheet" class='hide'>
                                    <td class="module_name">Log Sheets</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="fits" class='hide'>
                                    <td class="module_name">FITS Writer</td>
                                    <td class="module_status"></td>
                                </tr>
                                <tr module="camera">
                                    <td class="module_name">Camera</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="meter" class='hide'>
                                    <td class="module_name">Exposure Meter</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="tcs" class='hide'>
                                    <td class="module_name">Telescope</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="envcover">
                                    <td class="module_name">Environment Cover</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="adc" >
                                    <td class="module_name">Motors</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="transfer" class='hide'>
                                    <td class="module_name">File Transfer</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                                <tr module="lfc">
                                    <td class="module_name">LFC</td>
                                    <td class="module_status"></td>
                                    <td class="subsystems"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">LOST-2</h5>
                    <h4 class="card-title"> Calcium-K camera</h4>
                    <img class='image' id='calciumImage' />
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
